@{
    ViewData["Title"] = "Confirmar Usuario de un Grupo";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar el Usuario. Ahora es parte de un Grupo y puede ver los viajes de los otros integrantes en tiempo real.
    </p>
</div>